    {% extends 'core/base.html' %}

    {% load static %}

    {% block contenido %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Inicio</a>
                    <a class="breadcrumb-item text-dark" href="#">Productos</a>
                    <span class="breadcrumb-item active">Detalle de producto</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    {{data}}
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{% static '' %}core/img/{{producto.imagen}}" alt="Image">
                        </div>    
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ producto.nombre }}</h3>
                    <div class="d-flex mb-3">
                        <small class="pt-1">Stock: {{producto.stock}}</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">${{ producto.precio }}</h3>
                    <p class="mb-4">Marca: {{ producto.marca }}</p>
                    <p class="mb-4">Categoria: {{ producto.categoria }}</p>

                    <div class="d-flex align-items-center mb-4 pt-2">


                        {% if user_data %}
                                    {% if user_data.is_connect == 1 %}
                                        {% if producto.stock > 0 %}
                                            <a class="btn btn-primary px-3" href="{% url 'carro:agregar' producto.id %}"><i class="fa fa-shopping-cart"></i></a>
                                        {% else %}
                                            <a class="btn btn-primary px-3" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart"></i></a>
                                            
                                            <!-- The Modal -->
                                            <div class="modal fade" id="myModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                <!-- Modal Header -->
                                                <div class="modal-header mx-auto">
                                                    <h4 class="modal-title">Producto sin Stock</h4>
                                                </div>
                                            
                                                <!-- Modal body -->
                                                <div class="modal-body mx-auto">
                                                    Producto sin stock, Intente más tarde...
                                                </div>
                                            
                                                <!-- Modal footer -->
                                                <div class="modal-footer mx-auto"">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            
                                                </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        
                                    {% endif %}
                                    
                                {% else %}
                                <a class="btn btn-primary px-3" href="{% url 'login'%}"><i class="fa fa-shopping-cart"></i></a>
                                {% endif %}

                    </div>
                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Compartir en:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Descripcion</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Descripcion del producto</h4>
                            <p>{{ producto.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

    {% endblock %}