{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'core/img/material.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h6 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Materiales</h6>
                                    <h3 class="text-white mb-3">Accesorios de la mejor calidad</h3>
                                    <a href="{% url 'productos' %}" class="btn btn-primary">Comprar ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'core/img/construccion.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Construccion</h6>
                        <h3 class="text-white mb-3">Apoyo de alta calidad</h3>
                        <a href="{% url 'productos' %}" class="btn btn-primary">Comprar ahora</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'core/img/herramienta.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Herramientas</h6>
                        <h3 class="text-white mb-3">Maquinaria especial</h3>
                        <a href="{% url 'productos' %}" class="btn btn-primary">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Productos de calidad</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Envio gratis</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Garantia por 14 dias</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Soporte 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Productos destacados</span></h2>
        {% if productos %}
        <div class="row px-xl-5">
            {% for producto in productos %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img overflow-hidden">
                        <img class="w-100" src="{% static '' %}core/img/{{producto.imagen}}" alt="">
                        <div class="product-action">
                            
                                {% if user_data %}
                                    {% if user_data.is_connect == 1 %}
                                        {% if producto.stock > 0 %}
                                        <a class="btn btn-outline-dark btn-square" href="{% url 'carro:agregar' producto.id %}"><i class="fa fa-shopping-cart"></i></a>
                                        {% else %}
                                        <a class="btn btn-outline-dark btn-square" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart"></i></a>
                                        
                                        <!-- The Modal -->
                                        <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                            <!-- Modal Header -->
                                            <div class="modal-header mx-auto">
                                                <h4 class="modal-title">Producto sin Stock</h4>
                                            </div>
                                        
                                            <!-- Modal body -->
                                            <div class="modal-body mx-auto">
                                                Producto sin stock, Intente más tarde...
                                            </div>
                                        
                                            <!-- Modal footer -->
                                            <div class="modal-footer mx-auto"">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        
                                            </div>
                                        </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'login' %}"><i class="fa fa-shopping-cart"></i></a>
                                {% endif %}
                            <a class="btn btn-outline-dark btn-square" href="{% url 'detalleProducto' producto.id %}"><i class="fa fa-eye"></i></a>
                            {% if user_data.rol_id == 2 %}
                                <a class="btn btn-outline-dark btn-square" href="{% url 'actualizar_producto' producto.id %}"><i class="fa fa-exchange-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{ producto.nombre }}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Precio: ${{ producto.precio }}</h5><h6 class="text-muted ml-2"></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <small>Stock: ({{ producto.stock }})</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex align-items-center justify-content-center">
            <small>No hay productos disponibles.</small>
        </div>
        {% endif %}
    </div>

    
    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img style="height: 113.48px;" src="{% static 'core/img/bosch.png' %}" alt="" >
                    </div>
                    <div  class="bg-light p-4">
                        <img style="height: 113.48px;" src="{% static 'core/img/sika.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img style="height: 113.48px;" src="{% static 'core/img/makita.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img style="height: 113.48px;" src="{% static 'core/img/stanley.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->

    {% endblock %}

