{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Inicio</a>
                <a class="breadcrumb-item text-dark" href="{% url 'productos' %}">Productos</a>
                <span class="breadcrumb-item active">Todos los productos</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Filter and Products Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <!-- Filter Section -->
        <div class="col-lg-3">
            <div class="filter-section">
                <h4 class="mb-3">Filtro</h4>
                
                <form id="filtro-form">
                    
                    <div class="form-group">
                        <label for="busqueda">Buscar por nombre:</label>
                        <input type="text" class="form-control" id="busqueda">
                    </div>


                    <div class="form-group">
                        <label for="categoria">Categoría:</label>
                        <select class="form-control" id="categoria">
                            <option value="">Todas</option>
                            <option value="Herramienta Manual">Herramienta Manual</option>
                            <option value="Herramienta Eléctrica">Herramienta Eléctrica</option>
                            <option value="Pintura">Pintura</option>
                            <option value="Material eléctrico">Material eléctrico</option>
                            <option value="Accesorio">Accesorio</option>
                            <option value="Artículo de Seguridad">Artículo de Seguridad</option>
                        </select>
                    </div>        
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <select class="form-control" id="marca">
                            <option value="">Todas</option>
                            <option value="Bosch">Bosch</option>
                            <option value="Makita">Makita</option>
                            <option value="Stanley">Stanley</option>
                            <option value="Sika">Sika</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
                </form>
            </div>
        </div>
        <!-- Products Section -->
        <div class="col-lg-9" id="productos-container">
            <h2 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary pr-3">Todos los productos</span></h2>
            {% if productos %}
            <div class="row">
                {% for producto in productos %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="product-item bg-light">
                        <div class="product-img overflow-hidden">
                            <img class="w-100" src="{% static 'core/img/' %}{{ producto.imagen }}" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="{% url 'carro:agregar' producto.id %}"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-eye"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-3">
                            <a class="h6 text-decoration-none text-truncate" href="{% url 'detalleProducto' %}">{{ producto.nombre }}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5 class="mr-2"> ${{ producto.precio }}</h5>
                                <!-- Agregado un filtro para mostrar la moneda -->
                                <h6 class="text-muted">{{ producto.moneda }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="d-flex align-items-center justify-content-center">
                <small>No hay productos disponibles.</small>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Filter and Products End -->

<script>
    const filtroForm = document.getElementById('filtro-form');
    const productosContainer = document.getElementById('productos-container');
    const busquedaInput = document.getElementById('busqueda');

    const actualizarProductos = () => {
        const categoria = document.getElementById('categoria').value;
        const marca = document.getElementById('marca').value;
        const busqueda = busquedaInput.value;

        const url = new URL(window.location.href);
        const params = new URLSearchParams();

        if (categoria) {
            params.set('categoria', categoria);
        }
        if (marca) {
            params.set('marca', marca);
        }
        if (busqueda) {
            params.set('busqueda', busqueda);
        }

        url.search = params.toString();

        fetch(url.toString())
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newProductosContainer = doc.getElementById('productos-container');
                productosContainer.innerHTML = newProductosContainer.innerHTML;
            })
            .catch(error => console.error('Error al cargar los productos:', error));
    };

    filtroForm.addEventListener('submit', (event) => {
        event.preventDefault();
        actualizarProductos();
    });

    busquedaInput.addEventListener('input', actualizarProductos);
</script>


{% endblock %}
